body{
      background-color: darkblue;
      color:white;

}

#increment{
      background-color: seagreen;
      color: white;
      width: 25%;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
      height: 20px;
      height: 100px;
      font-size: 55px;
}

#elementCounter{
      background-color: white;
      color: black;
      width: 25%;
      border: 0;
      border-radius: 5px;
      height: 20px;
      height: 100px;
      font-size: 55px;
}

#decrement{
      background-color: red;
      color: white;
      width: 25%;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
      height: 100px;
      font-size: 55px;
}
.container{
      margin-top: 200px;
      margin-left: 200px;
}